<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mvision.vfin">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.mvision.vfin.ApplicationVFin"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.mvision.vfin.component.splashscreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.mvision.vfin.component.profiledetail.ProfileDetailActivity"/>

        <activity android:name="com.mvision.vfin.component.leveldetail.LevelDetailActivity"/>

        <activity android:name="com.mvision.vfin.component.messagedetail.MessageDetailActivity"/>

        <activity android:name="com.mvision.vfin.component.productdetail.ProductDetailActivity"/>

        <activity android:name="com.mvision.vfin.component.work.WorkActivity"/>

        <activity android:name="com.mvision.vfin.component.downloadapp.DownloadAppActivity"/>

        <activity android:name="com.mvision.vfin.component.viewads.ViewAdsActivity"/>

        <activity android:name="com.mvision.vfin.component.survey.SurveyActivity"/>

        <activity android:name="com.mvision.vfin.component.question.QuestionActivity"/>

        <activity android:name="com.mvision.vfin.component.viewadsdetail.ViewAdsDetailActivity"/>

        <activity android:name="com.mvision.vfin.component.authen.login.LoginActivity"/>

        <activity android:name="com.mvision.vfin.component.main.MainActivity"/>

        <activity android:name="com.mvision.vfin.component.rewarddetail.RewardDetailActivity"/>

        <activity android:name="com.mvision.vfin.component.financehistory.FinanceHistoryActivity"/>

        <activity android:name="com.mvision.vfin.component.myaddress.MyAddressActivity"/>

        <activity android:name=".component.editprofile.EditProfileActivity"/>

        <activity android:name=".component.addeditdress.AddEditAddressActivity"/>

        <activity android:name=".component.provinceamphur.ProvinceAmphurActivity"/>

        <activity android:name=".component.myproduct.myproductmain.MyProductMainActivity"/>


        <service
            android:name="com.mvision.vfin.firebase.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.mvision.vfin.firebase.fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>


        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="46c41ce528b3d207813ab757113504d491017afa" />
    </application>

</manifest>